@tailwind base;
@tailwind components;
@tailwind utilities;

.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
